* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

body {
    background-color: #EEF5F3;
    font-family: 'Montserrat', sans-serif;
    color: #393432;
    width: 100%;
}

header {
    height: 70px;

}

header .wrapper {
    position: fixed;
    background-color: #abb6b6;
    box-shadow: 1px 1px 3px black;
    width: 100%;
    height: 80px;
    
}
.wrapper a{
    text-decoration: none;
    color: black;
}
header h1 {
    display: inline-block;
    padding: 15px 24px;
    float: left;
}

header ul {
    float: right;
    font-weight: bold;
}

header ul li {
    padding: 24px;
    display: inline-block;
}

a {
    text-decoration: none;
}

header h1 :hover {
    color: #EEF5F3;
}

header ul li :hover {
    color: #EEF5F3;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.wrapper ::after {
    content: '';
    display: block;
    clear: both;
}

.menu-respon {
    float: right;
    display: none;
    padding: 18px;

}

.menu-respon:hover {
    cursor: pointer;

}

#check {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(57, 52, 50, .9);
    display: none;
}

.sidebar ul li a {
    color: #ffff;
}

.sidebar ul li {
    padding: 24px;
    transition: 0.3;
    transition-property: background-color;

}

.sidebar ul :hover {
    background-color: #F45533;
}

#check:checked~.sidebar {
    left: 0;
}

.content {
    width: 70%;
    /* display: flex; */
    margin: 0 auto;
    gap: 100px;
    align-items: center;
    /* background-color:  red; */
}

.foto {
    /* width: 50%; */
    float: left;
    /* background-color: red; */
}

.foto img {
    width: 300px;
    height: 350px;

}

.intro {
    width: 550px;
    float: left;
    margin-left: 50px;
    margin-top: 40px;

}

.intro .hello {
    color: #393432;
    font-weight: 200;
}

.intro h3 {
    font-weight: 400;

}

.intro h1 {
    margin-bottom: 10px;
    color: #1f2222;
}

.bungkus {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}


#pendidikan p{
    margin-top: 15px;
    font-size: 24px;
   
    
}
#pendidikan .foto{
    margin-top: 60px;
    margin-left: 20px;
}
#pendidikan h3{
    margin-top: 30px;
}

.bungkus::after{
    display: block;
    content: '';
    clear: both;
}
#about{
    background-color: #abb6b6;
    box-shadow: 1px 1px 5px gray;
    padding: 20px 20px 20px;
}

.intro p {
    font-weight: 200;
    text-align: left;
    margin-bottom: 10px;
    line-height: 25px;
}

.bungkus h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: -30px;
}

.bungkus h4 {
    font-size: 25px;
}

.bungkus .foto span i {
    font-size: 300px;
}

.intro ul li {
    font-size: 25px;
    margin-left: 70px;
}

#skill{
    background-color: #abb6b6;
    height: auto;
    box-shadow: 1px 1px 5px gray;
    padding: 20px 20px 20px;
    margin-top: 60px;
    
}

#sosmed{
    background-color: #abb6b6;
    height: auto;
    box-shadow: 1px 1px 5px gray;
    padding: 20px 20px 20px;
}
#skill::after{
    display: block;
    content: '';
    clear: both;
}

#skill .bar{
    height: 30px;
    background-color: white;
    margin: 5px 0 20px 0;
    border: 1px solid black;
}
#skill h3{
     margin-bottom: 3px;
}
.bar .excel{
    height: 30px;
    width: 85%;
    background-color: #554845;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.bar .word{
    height: 30px;
    width: 90%;
    background-color: #554845;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.bar .html{
    height: 30px;
    width: 80%;
    background-color: #554845;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.bar .visio{
    height: 30px;
    width: 75%;
    background-color: #554845;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.bar .pp{
    height: 30px;
    width: 80%;
    background-color: #554845;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.bar .css{
    height: 30px;
    width: 80%;
    background-color: #554845;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.bar .jj{
    height: 30px;
    width: 65%;
    background-color: #554845;
    display: inline-block;
    color: #fff;
    text-align: center;
}
#contact{
    margin-top: 30px;
}
#contact h3{
    margin-bottom: 20px;
}
.row{
    
    margin-bottom: 30px;

}
#sosmed {
    margin-top: 0;
}
/* .row{
    background-color: red;
}
.row .col-md-4{
    background-color: yellow;
} */

.bungkuss {
    width: 80%;
    margin: 0   auto;
}

.bungkuss h3{
    text-align: center;
}

#sosmed i{
    cursor: pointer;
    font-size: 60px;
}
footer{
    height: 90px;
    background-color: #1f2222;
    margin-top: 30px;
   
}
footer p{
    color: white;
    text-align: center ;
    justify-content: center;
    padding: 30px;
}

.row ul li{
    display: inline-block;
}

@media (max-width: 768px) {
    .menu-respon {
        display: block;
    }

    header ul {
        display: none;
    }
   
  
    .foto img {
        border-radius: 50%;
        transition: .5s;
        width: 200px;
        height: 200px;
        margin: 0 auto;

    }

    .intro {
        margin-left: 5px;
        width: 100%;
        font-size: 10px;

    }
   
    #pendidikan .skull p {
        font-size: 16px;
        margin-left: 60px;
    }
    
    #about .foto{
        
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
   
    .bungkus.skull {
        margin-left: 5px;
        width: 100%;
        font-size: 10px;
    }
    .skull ul li{
        font-size: 17px;
    }
    .bungkus h3{
        width: 100%;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    #pendidikan .foto span i{
        border-radius: 50%;
        font-size: 150px;
    }

    #about p{
        font-size: 15px;
    }
    
    #pendidikan span i{
        font-size: 200px;
    }
    #pendidikan::after{
        display: block;
        content: '';
        clear: both;
    }
    #pendidikan ul{
        margin-top: 10px;
    }
    #pendidikan h3{
        text-align: center;
    }
    #pendidikan .foto {
        text-align: center;
        margin-top: 0px;
        margin-left: 0;
    
    }

    .bungkus {
        width: 95%;
        margin: auto;
        padding: 0px;
        margin-top: 10px;
        height: auto;
    }

    .foto {
        width: 100%;
        margin-top: 10px;
    }

    .sidebar {
        display: block;
        z-index: 9999;
        transition: 0.5s;
    }
    .sidebar ul li{
        
        margin-left: -30px;
        
    }
    .sidebar ul li a{
        display: block;
        text-decoration: none;
        
    }
    .sidebar ul li{
        display: block;
    }
    #about{
        height: auto;
    }
    #about::after{
        display: block;
        content: '';
        clear: both;
    }
    .bungkuss{
        width: 95%;
        margin:0 auto;
    }
    
    #sosmed i{
        font-size: 40px;
    }
    .col-sm-3 {
        width: 30px;
        float: left;
        margin: auto;
        text-align: center;
    
    }   
    #sosmed .col-sm-4 {
        float: left;
        margin: auto;
        display: flex;
        width: 60px;
        
        
        
    }   
    .col-sm-4 p{
        margin: auto;
        display: flex;
        float: left;
        margin-left: 0px;
        left: 0px;
    }
    .col-sm-4 span{
        display: none;
    }
    /* .col-sm-12 {
        width: 30px;
        
        float: left;
        margin: auto;
        text-align: center;
    }     */
   
  
    #skill ::before{
        display: block;
        content: '';
        clear: both;
    }
    #skill{
        margin-top: 20px;
        top: 20px;
    }
   
}
